PORT=3000
DATABASE_URL=postgresql://...
JWT_SECRET=uma_chave_muito_segura
STRIPE_SECRET_KEY=sk_live_...
STRIPE_WEBHOOK_SECRET=whsec_...
FRONTEND_URL=https://astromatch.app.br
CLOUDINARY_CLOUD_NAME=seu_cloud_name
CLOUDINARY_API_KEY=123456
CLOUDINARY_API_SECRET=abc123
TEST_CPF=123.456.789-00
STRIPE_PRICE_MONTHLY=price_1Q...
STRIPE_PRICE_REPORT=price_2R...
